/*Mobile first*/

header{
  background-color: var(--color-principal-de-fondo);
}

@media screen and (min-width: 576px) and (max-width: 991px) {
  header{
    background-color: rgba(0, 256, 256, 1);
  }
}

@media screen and (min-width: 992px) {
  header{
    background-color: rgba(256, 0, 0, 1);
  }
}