/********************************/
/*Header, aside y navigation bar*/
/********************************/

header{
  position: sticky;
  top: 0;
  background-color: var(--color-principal-de-fondo);
  color: var(--color-secundario);
  display: flex;
  flex-direction: column;
  justify-content:stretch;
  align-items: center;

}

header section{
  padding: 4rem;
  width: 60%;
  text-align: center;
}


header section h1{
  margin: 0;
  font-size: 2rem;
  font-family: "Mali", cursive; /*fuente con google fonts*/
  font-weight: 200;
  font-style: normal;
}

.panel-btn{
  position: fixed;
  z-index: 999;
  bottom: var(--distancia-botones-abajo);
  right: var(--distancia-botones-derecha);
  width: var(--tamanio-botones);
  height: var(--tamanio-botones);
  border-radius: 50% !important;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-botones) !important;
}

.panel-btn:hover{
  background-color: var(--color-botones-hover)!important;
}

.panel{
  position: fixed;
  z-index: 998;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--color-panel);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.4s ease, opacity 0.4s ease;
  /* Desde arriba*/
  transform: translate(0,-100%);
  /* Desde abajo*/
  transform: translate(0,100%);
  /* Desde izquierda*/
  transform: translate(100%,0);
  /* Desde derecha*/
  transform: translate(-100%,0);
}

.panel.is-active{
  transform: translate(0,0);
  opacity: 1;
  visibility:visible;
}

.menu{
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
  text-align: left;
  padding: 2rem;
  min-height: 100vh;
}

